p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

/* added to match look on YT tutorial */
.btn-floating.halfway-fab {
  bottom: 0;
  top: -20px;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 15px;
}
